.woocommerce ul.products li.product a img,
.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
    border: solid 1px #dedede;
}

.btn-teal {
    background-color: #39baaf !important;
}

.btn-teal:hover {
    background-color: #fff !important;
}

article img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: .6em 0;
}

.exp article img {
    padding: 0;
}